.scroll-float {
  overflow: hidden;
  display: block;
  width: 100%;
}

.scroll-float-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 0.95;
}

.char {
  display: inline-block;
}

